extends /master.pug
block content
	- var currentUrl = 'collapse.html'
	section
		.container-fluid
			.row
				.col-md-12
					.row
						.col-lg-2.col-sm-3.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../includes/sidebar.pug
						.col-lg-10.col-sm-9.push-lg-3.push-md-4.theme-docs.code-no-bs
							h1 Bootstrap 4 components
							hr
							// Collapse
							h4 Collapse
								small 
									a(href='https://getbootstrap.com/docs/4.1/components/collapse/' target='_blank') (Official docs)
							p
								| Toggle the visibility of content across your project with a few classes and our JavaScript plugins.
							p
								strong How it works
								br
								| The collapse JavaScript plugin is used to show and hide content. Buttons or anchors are used as triggers that are mapped to specific elements you toggle. Collapsing an element will animate the height from it’s current value to 0. Given how CSS handles animations, you cannot use padding on a .collapse element. Instead, use the class as an independent wrapping element.
							.panel
								.panel-body
									p
										a.btn.btn-primary.mr-2(data-toggle='collapse', href='#collapseExample1', aria-expanded='false', aria-controls='collapseExample')
											| Link with href
										button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#collapseExample1', aria-expanded='false', aria-controls='collapseExample1')
											| Button with data-target
									#collapseExample1.collapse
										.card.card-body
											| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
								.panel-footer
									pre
										code.html.hljs.xml
											| <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-primary"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"collapse"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#collapseExample"</span>&gt;</span>
											|     Link with href
											|   <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-primary"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"button"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"collapse"</span> <span class="hljs-attr">data-target</span>=<span class="hljs-string">"#collapseExample"</span>&gt;</span>
											|     Button with data-target
											|   <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"collapse"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"collapseExample"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card card-body"</span>&gt;</span>
											|     Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											|   <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
							br
							h4
								| Accordion example
							.panel
								.panel-body
									#accordion
										.card
											#headingOne.card-header
												h6
													a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
														| Collapsible Group Item #1
											#collapseOne.collapse.show(role='tabpanel')
												.card-body
													| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae rem, impedit cumque, odit itaque dicta, iure magni velit assumenda eius enim error similique voluptate sequi rerum tenetur inventore praesentium cum.
										.card
											#headingTwo.card-header
												h6.mb-0
													a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
														| Collapsible Group Item #2
											#collapseTwo.collapse
												.card-body
													| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae rem, impedit cumque, odit itaque dicta, iure magni velit assumenda eius enim error similique voluptate sequi rerum tenetur inventore praesentium cum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae rem, impedit cumque, odit itaque dicta, iure magni velit assumenda eius enim error similique voluptate sequi rerum tenetur inventore praesentium cum.
										.card
											#headingThree.card-header
												h6.mb-0
													a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
														| Collapsible Group Item #3
											#collapseThree.collapse
												.card-body
													| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae rem, impedit cumque, odit itaque dicta, iure magni velit assumenda eius enim error similique voluptate sequi rerum tenetur inventore praesentium cum.
								.panel-footer
									pre
										code.html.hljs.xml
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"accordion"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card"</span>&gt;</span>
											|     <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card-header"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"headingOne"</span>&gt;</span>
											|       <span class="hljs-tag">&lt;<span class="hljs-name">h5</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>
											|         <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"collapse"</span> <span class="hljs-attr">data-parent</span>=<span class="hljs-string">"#accordion"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#collapseOne"</span>&gt;</span>
											|           Collapsible Group Item #1
											|         <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
											|       <span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
											|     <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| 
											|     <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"collapseOne"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"collapse show"</span> <span class="hljs-attr">role</span>=<span class="hljs-string">"tabpanel"</span>&gt;</span>
											|       <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card-body"</span>&gt;</span>
											|         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											|       <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|     <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|   <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card"</span>&gt;</span>
											|     <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card-header"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"headingTwo"</span>&gt;</span>
											|       <span class="hljs-tag">&lt;<span class="hljs-name">h5</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>
											|         <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"collapsed"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"collapse"</span> <span class="hljs-attr">data-parent</span>=<span class="hljs-string">"#accordion"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#collapseTwo"</span>&gt;</span>
											|           Collapsible Group Item #2
											|         <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
											|       <span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
											|     <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|     <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"collapseTwo"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"collapse"</span>&gt;</span>
											|       <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card-body"</span>&gt;</span>
											|         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											|       <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|     <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|   <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card"</span>&gt;</span>
											|     <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card-header"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"headingThree"</span>&gt;</span>
											|       <span class="hljs-tag">&lt;<span class="hljs-name">h5</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>
											|         <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"collapsed"</span> <span class="hljs-attr">data-toggle</span>=<span class="hljs-string">"collapse"</span> <span class="hljs-attr">data-parent</span>=<span class="hljs-string">"#accordion"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#collapseThree"</span>&gt;</span>
											|           Collapsible Group Item #3
											|         <span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
											|       <span class="hljs-tag">&lt;/<span class="hljs-name">h5</span>&gt;</span>
											|     <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|     <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"collapseThree"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"collapse"</span>&gt;</span>
											|       <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"card-body"</span>&gt;</span>
											|         Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
											|       <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|     <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|   <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>