extends /master.pug
block content
	- var currentUrl = 'forms.html'
	section
		.container-fluid
			.row
				.col-md-12
					.row
						.col-lg-2.col-sm-3.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../includes/sidebar.pug
						.col-lg-10.col-sm-9.push-lg-3.push-md-4.theme-docs.code-no-bs
							h1 Bootstrap 4 components
							hr
							// Forms
							h4 Form
								small 
									a(href='https://getbootstrap.com/docs/4.1/components/forms/' target='_blank') (Official docs)
							p Form Controls
							
							.panel
								.panel-body
									form
										.form-group
											label(for='exampleInputEmail1') Email address
											input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
											small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
										.form-group
											label(for='exampleInputPassword1') Password
											input#exampleInputPassword1.form-control(type='password', placeholder='Password')
										.form-group
											label(for='exampleSelect1') Example select
											select#exampleSelect1.form-control
												option 1
												option 2
												option 3
												option 4
												option 5
										.form-group
											label(for='exampleSelect2') Example multiple select
											select#exampleSelect2.form-control(multiple='')
												option 1
												option 2
												option 3
												option 4
												option 5
										.form-group
											label(for='exampleTextarea') Example textarea
											textarea#exampleTextarea.form-control(rows='3')
										.form-group
											label(for='exampleInputFile') File input
											input#exampleInputFile.form-control-file(type='file', aria-describedby='fileHelp')
											small#fileHelp.form-text.text-muted
												| This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.
										fieldset.form-group
											legend Radio buttons
											.form-check
												input#exampleRadios1.form-check-input(type='radio', name='exampleRadios', value='option1', checked='')
												label.form-check-label(for='exampleRadios1')
													| Default radio
											.form-check
												input#exampleRadios2.form-check-input(type='radio', name='exampleRadios', value='option2')
												label.form-check-label(for='exampleRadios2')
													| Second default radio
											.form-check.disabled
												input#exampleRadios3.form-check-input(type='radio', name='exampleRadios', value='option3', disabled='')
												label.form-check-label(for='exampleRadios3')
													| Disabled radio
										.form-check
											label.form-check-label
												input.form-check-input(type='checkbox')
												|                     Check me out
										button.btn.btn-primary.mt-3(type='submit') Submit
								.panel-footer
									pre
										code.html.hljs.xml
											
											|  <span class="hljs-tag">&lt;<span class="hljs-name">form</span>&gt;</span>
											|  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"exampleInputEmail1"</span>&gt;</span>Email address<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"exampleInputEmail1"</span> <span class="hljs-attr">aria-describedby</span>=<span class="hljs-string">"emailHelp"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Enter email"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">small</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"emailHelp"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-text text-muted"</span>&gt;</span>We'll never share your email with anyone else.<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
											|  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"exampleInputPassword1"</span>&gt;</span>Password<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"password"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"exampleInputPassword1"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Password"</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"exampleSelect1"</span>&gt;</span>Example select<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"exampleSelect1"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>5<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span>
											|  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"exampleSelect2"</span>&gt;</span>Example multiple select<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">multiple</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"exampleSelect2"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">option</span>&gt;</span>5<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span>
											|  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"exampleTextarea"</span>&gt;</span>Example textarea<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">textarea</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"exampleTextarea"</span> <span class="hljs-attr">rows</span>=<span class="hljs-string">"3"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">textarea</span>&gt;</span>
											|  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"exampleInputFile"</span>&gt;</span>File input<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"file"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control-file"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"exampleInputFile"</span> <span class="hljs-attr">aria-describedby</span>=<span class="hljs-string">"fileHelp"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">small</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"fileHelp"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-text text-muted"</span>&gt;</span>This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
											|  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|  <span class="hljs-tag">&lt;<span class="hljs-name">fieldset</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">legend</span>&gt;</span>Radio buttons<span class="hljs-tag">&lt;/<span class="hljs-name">legend</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-label"</span>&gt;</span>
											|      <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-input"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"optionsRadios"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"optionsRadios1"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"option1"</span> <span class="hljs-attr">checked</span>&gt;</span>
											|      Option one is this and that—be sure to include why it's great
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-label"</span>&gt;</span>
											|      <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-input"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"optionsRadios"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"optionsRadios2"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"option2"</span>&gt;</span>
											|      Option two can be something else and selecting it will deselect option one
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check disabled"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-label"</span>&gt;</span>
											|      <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-input"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"optionsRadios"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"optionsRadios3"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"option3"</span> <span class="hljs-attr">disabled</span>&gt;</span>
											|      Option three is disabled
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|  <span class="hljs-tag">&lt;/<span class="hljs-name">fieldset</span>&gt;</span>
											|  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-label"</span>&gt;</span>
											|    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-check-input"</span>&gt;</span>
											|    Check me out
											|    <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"submit"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn btn-primary"</span>&gt;</span>Submit<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
											|  <span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span></code>

							br
							h4.mt-3
								| Form states
							.panel
								.panel-body
									.form-group.has-success
										label.form-control-label(for='inputSuccess1') Input with success
										input#inputSuccess1.form-control.is-valid(type='text')
										small.form-text.text-muted Example help text that remains unchanged.
									.form-group.has-warning
										label.form-control-label(for='inputWarning1') Input with error
										input#inputWarning1.form-control.is-invalid(type='text')
										.invalid-feedback Shucks, check the formatting of that and try again.
										small.form-text.text-muted Example help text that remains unchanged.
									.form-group.has-danger
										label.form-control-label(for='inputDanger1') Input with error
										input#inputDanger1.form-control.is-invalid(type='text')
										.invalid-feedback Sorry, that username's taken. Try another?
										small.form-text.text-muted Example help text that remains unchanged.
								.panel-footer
									pre
										code.html.hljs.xml
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group has-success"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"inputSuccess1"</span>&gt;</span>Input with success<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control is-valid"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"inputSuccess1"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">small</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-text text-muted"</span>&gt;</span>Example help text that remains unchanged.<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											br
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group has-warning"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"inputWarning1"</span>&gt;</span>Input with error<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control is-invalid"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"inputWarning1"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"invalid-feedback"</span>&gt;</span>Shucks, check the formatting of that and try again.<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">small</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-text text-muted"</span>&gt;</span>Example help text that remains unchanged.<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											br
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-group has-danger"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"inputDanger1"</span>&gt;</span>Input with error<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-control is-invalid"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"inputDanger1"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"invalid-feedback"</span>&gt;</span>Sorry, that username's taken. Try another?<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">small</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"form-text text-muted"</span>&gt;</span>Example help text that remains unchanged.<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code>
							br
							h4.mt-3
								| Custom forms
							.panel
								.panel-body
									.custom-control.custom-checkbox
										input#customCheck1.custom-control-input(type='checkbox')
										label.custom-control-label(for='customCheck1') Check this custom checkbox
									.custom-control.custom-checkbox
										input#customCheck2.custom-control-input(type='checkbox')
										label.custom-control-label(for='customCheck2') Check this custom checkbox
									.custom-control.custom-checkbox
										input#customCheck3.custom-control-input(type='checkbox')
										label.custom-control-label(for='customCheck3') Check this custom checkbox
									.custom-control.custom-radio.mt-3
										input#customRadio1.custom-control-input(type='radio', name='customRadio')
										label.custom-control-label(for='customRadio1') Toggle this custom radio
									.custom-control.custom-radio.mb-4
										input#customRadio2.custom-control-input(type='radio', name='customRadio')
										label.custom-control-label(for='customRadio2') Or toggle this other custom radio
									label(for='customRange1') Example range
									input#customRange1.custom-range(type='range')
									p.mt-3 File browser
									.custom-file
										input#customFile.custom-file-input(type='file')
										label.custom-file-label(for='customFile') Choose file
									p.mt-4 Dropdown menus
									select.custom-select
										option(selected='') Open this select menu
										option(value='1') One
										option(value='2') Two
										option(value='3') Three
									br
									select.spacial-select.mt-3
										option(selected='') Open this select menu
										option(value='1') One
										option(value='2') Two
										option(value='3') Three
								.panel-footer
									pre
										code.html.hljs.xml
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control custom-checkbox"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-input"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"customCheck1"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"customCheck1"</span>&gt;</span>Check this custom checkbox<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control custom-checkbox"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-input"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"customCheck1"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"customCheck1"</span>&gt;</span>Check this custom checkbox<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control custom-checkbox"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-input"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"customCheck1"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"customCheck1"</span>&gt;</span>Check this custom checkbox<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| 
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control custom-radio mt-3"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"customRadio1"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"customRadio"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-input"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"customRadio1"</span>&gt;</span>Toggle this custom radio<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control custom-radio mb-4"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"customRadio2"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"customRadio"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-input"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-control-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"customRadio2"</span>&gt;</span>Or toggle this other custom radio<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| 
											| <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"customRange1"</span>&gt;</span>Example range<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											| <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"range"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-range"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"customRange1"</span>&gt;</span>
											| 
											| <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mt-3"</span>&gt;</span>File browser<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
											| <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-file"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"file"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-file-input"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"customFile"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-file-label"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"customFile"</span>&gt;</span>Choose file<span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
											| 
											| <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mt-4"</span>&gt;</span>Dropdown menus<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
											| <span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"custom-select"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">selected</span>&gt;</span>Open this select menu<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"1"</span>&gt;</span>One<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"2"</span>&gt;</span>Two<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"3"</span>&gt;</span>Three<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span>
											| 
											| <span class="hljs-tag">&lt;<span class="hljs-name">select</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"spacial-select mt-3"</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">selected</span>&gt;</span>Open this select menu<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"1"</span>&gt;</span>One<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"2"</span>&gt;</span>Two<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											|   <span class="hljs-tag">&lt;<span class="hljs-name">option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"3"</span>&gt;</span>Three<span class="hljs-tag">&lt;/<span class="hljs-name">option</span>&gt;</span>
											| <span class="hljs-tag">&lt;/<span class="hljs-name">select</span>&gt;</span>