extends /master.pug
block content
	- var currentUrl = 'input-group.html'
	section
		.container-fluid
			.row
				.col-md-12
					.row
						.col-lg-2.col-sm-3.pull-lg-9.pull-md-8
							//- SIDEBAR
							include ../includes/sidebar.pug
						.col-lg-10.col-sm-9.push-lg-3.push-md-4.theme-docs.code-bs
							h1 Bootstrap 4 components
							hr
							// Forms
							h4 Input Group
								small 
									a(href='https://getbootstrap.com/docs/4.1/components/input-group/' target='_blank') (Official docs)
							p Basic example
							p Place one add-on or button on either side of an input. You may also place one on both sides of an input. Remember to place 
								code.highlighter-rouge 
								| <span class="hljs-tag">&lt;<span class="hljs-name">label</span>&gt;s</span>
								| outside the input group.
							
							.panel
								.panel-body
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon1.input-group-text @
										input.form-control(type='text', placeholder='Username', aria-label='Username', aria-describedby='basic-addon1')
									.input-group.mb-3
										input.form-control(type='text', placeholder="Recipient's username", aria-label="Recipient's username", aria-describedby='basic-addon2')
										.input-group-append
											span#basic-addon2.input-group-text @example.com
									label(for='basic-url') Your vanity URL
									.input-group.mb-3
										.input-group-prepend
											span#basic-addon3.input-group-text https://example.com/users/
										input#basic-url.form-control(type='text', aria-describedby='basic-addon3')
									.input-group.mb-3
										.input-group-prepend
											span.input-group-text $
										input.form-control(type='text', aria-label='Amount (to the nearest dollar)')
										.input-group-append
											span.input-group-text .00
									.input-group
										.input-group-prepend
											span.input-group-text With textarea
										textarea.form-control(aria-label='With textarea')
								.panel-footer
									pre
										code.html.hljs.xml
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group mb-3"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span> <span class="na">id=</span><span class="s">"basic-addon1"</span><span class="nt">&gt;</span>@<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">placeholder=</span><span class="s">"Username"</span> <span class="na">aria-label=</span><span class="s">"Username"</span> <span class="na">aria-describedby=</span><span class="s">"basic-addon1"</span><span class="nt">&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>
											| 
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group mb-3"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">placeholder=</span><span class="s">"Recipient's username"</span> <span class="na">aria-label=</span><span class="s">"Recipient's username"</span> <span class="na">aria-describedby=</span><span class="s">"basic-addon2"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-append"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span> <span class="na">id=</span><span class="s">"basic-addon2"</span><span class="nt">&gt;</span>@example.com<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>
											| 
											| <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"basic-url"</span><span class="nt">&gt;</span>Your vanity URL<span class="nt">&lt;/label&gt;</span>
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group mb-3"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span> <span class="na">id=</span><span class="s">"basic-addon3"</span><span class="nt">&gt;</span>https://example.com/users/<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"basic-url"</span> <span class="na">aria-describedby=</span><span class="s">"basic-addon3"</span><span class="nt">&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>
											| 
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group mb-3"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span><span class="nt">&gt;</span>$<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">aria-label=</span><span class="s">"Amount (to the nearest dollar)"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-append"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span><span class="nt">&gt;</span>.00<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>
											| 
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span><span class="nt">&gt;</span>With textarea<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;textarea</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">aria-label=</span><span class="s">"With textarea"</span><span class="nt">&gt;&lt;/textarea&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>								
							
							h4 Sizing
							p Add the relative form sizing classes to the .input-group itself and contents within will automatically resize—no need for repeating the form control size classes on each element.
							p 
								strong Sizing on the individual input group elements isn’t supported.
							.panel
								.panel-body
									.input-group.input-group-sm.mb-3
										.input-group-prepend
											span#inputGroup-sizing-sm.input-group-text Small
										input.form-control(type='text', aria-label='Small', aria-describedby='inputGroup-sizing-sm')
									.input-group.mb-3
										.input-group-prepend
											span#inputGroup-sizing-default.input-group-text Default
										input.form-control(type='text', aria-label='Default', aria-describedby='inputGroup-sizing-default')
									.input-group.input-group-lg
										.input-group-prepend
											span#inputGroup-sizing-lg.input-group-text Large
										input.form-control(type='text', aria-label='Large', aria-describedby='inputGroup-sizing-sm')
								.panel-footer
									pre
										code.html.hljs.xml
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group input-group-sm mb-3"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span> <span class="na">id=</span><span class="s">"inputGroup-sizing-sm"</span><span class="nt">&gt;</span>Small<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">aria-label=</span><span class="s">"Small"</span> <span class="na">aria-describedby=</span><span class="s">"inputGroup-sizing-sm"</span><span class="nt">&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>
											| 
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group mb-3"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span> <span class="na">id=</span><span class="s">"inputGroup-sizing-default"</span><span class="nt">&gt;</span>Default<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">aria-label=</span><span class="s">"Default"</span> <span class="na">aria-describedby=</span><span class="s">"inputGroup-sizing-default"</span><span class="nt">&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>
											| 
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group input-group-lg"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"input-group-text"</span> <span class="na">id=</span><span class="s">"inputGroup-sizing-lg"</span><span class="nt">&gt;</span>Large<span class="nt">&lt;/span&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">aria-label=</span><span class="s">"Large"</span> <span class="na">aria-describedby=</span><span class="s">"inputGroup-sizing-sm"</span><span class="nt">&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>
							h4 Checkboxes and radios
							p Place any checkbox or radio option within an input group’s addon instead of text.
							.panel
								.panel-body
									.input-group.mb-3
										.input-group-prepend
											.input-group-text
												input(type='checkbox', aria-label='Checkbox for following text input')
										input.form-control(type='text', aria-label='Text input with checkbox')
									.input-group
										.input-group-prepend
											.input-group-text
												input(type='radio', aria-label='Radio button for following text input')
										input.form-control(type='text', aria-label='Text input with radio button')
								.panel-footer
									pre
										code.html.hljs.xml
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group mb-3"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-text"</span><span class="nt">&gt;</span>
											|       <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">aria-label=</span><span class="s">"Checkbox for following text input"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">aria-label=</span><span class="s">"Text input with checkbox"</span><span class="nt">&gt;</span>
											| <span class="nt">&lt;/div&gt;</span>
											br
											| <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group"</span><span class="nt">&gt;</span>
											|   <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-prepend"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"input-group-text"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"radio"</span> <span class="na">aria-label=</span><span class="s">"Radio button for following text input"</span><span class="nt">&gt;</span>
											|     <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;/div&gt;</span>
											|   <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">aria-label=</span><span class="s">"Text input with radio button"</span><span class="nt">&gt;</span>
											| <span class="nt">&lt;/div&gt;</span></code>