<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Cheff Theme
		meta(name="keywords" content="keywords")
		meta(name="description" content="Page author")
		// Favicon
		link(rel="icon" href="/img/favicon.png" type="image/png")
		// Vendor Css
		link(rel="stylesheet", href="/vendor/bootstrap/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/bootstrap/bootstrap-theme.min.css")
		link(rel="stylesheet", href="/vendor/owl-carousel/owl.carousel.min.css")
		link(rel="stylesheet", href="/vendor/owl-carousel/owl.theme.default.min.css")
		link(rel="stylesheet", href="/vendor/font-awesome/fontawesome-all.min.css")
		link(rel="stylesheet", href="/vendor/ionicons/ionicons.min.css")
		link(rel="stylesheet", href="/vendor/magnific-popup/magnific-popup.css")
		link(rel="stylesheet", href="/vendor/animate/animate.css")
		// Theme Css
		link(rel="stylesheet" href="/css/styles.css")
		// Your Css
		link(rel="stylesheet" href="/css/custom-styles.css") 
	body
		// Page navigation
		include includes/nav
		// Content
		block content
		// Go to top link
		#go-to-top
			i.fas.fa-sort-up
		// Scripts and html closing
		include includes/foot
		
