// Footer | CopyRights	
footer
    .container-fluid
        .row-centered
            p Cheff Theme - By 
                a(href="https://vimana.studio") Vimana Studio 
                | - 2018

//- VENDORS
script(src="/vendor/jquery-3.3.1/jquery-3.3.1.min.js")
script(src="https://unpkg.com/ionicons@4.2.0/dist/ionicons.js")
script(src="/vendor/bootstrap/popper.min.js")
script(src="/vendor/bootstrap/bootstrap.min.js")
script(src="/vendor/owl-carousel/owl.carousel.min.js")
script(src="/vendor/parallax/jquery.parallax-1.1.3.js")
script(src="/vendor/isotope/isotope.min.js")
script(src="/vendor/magnific-popup/magnific-popup.min.js")
script(src="/vendor/wow/wow.min.js")
script(src="/js/main.js")
